/*overall styling*/
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@200&family=Montserrat:wght@300&display=swap');


/*aknowledgment:love running-walkthrou project*/
*{
    margin: 0;
    padding: 0;
    border: none;
}
/*body{ "trouble shooting"
    min-height: 100vh;
}*/
/*header styling*/
.logo{
    float: left;
    margin-left: 30px;
}

#menu, li{
    float: right;
    margin-right: 30px;
    margin-bottom: none;
    list-style-type: none;
}

.header-image{
    overflow: hidden;
    clear: both;
}




/*footer styling*/

footer{
    clear: both;
    text-align: center;
    background-color: aquamarine;
    height: fit-content;

}

.social{
    display: inline;
}