@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@200&family=Montserrat:wght@300&display=swap');


/*aknowledgment:love running-walkthrou project*/
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/*sticky footer acknowledgment https://css-tricks.com/couple-takes-sticky-footer/*/
.content{
    flex: 1 0 auto;
}
html, body{
    height: 100%;
}
/*Header styling*/

body{
    font-family: montserrat, sans-serif;
    color: #798679;
    display: flex; /*sticky footer acknowledgment*/
    flex-direction: column; /*sticky footer acknowledgment*/
}

h1, h2{
    font-family: m plus 1, sans-serif;
    color: #808080;
    font-size: 220%;
}

p{
    text-align: left;
}

#logo{
    float: left;
    margin-left: 20px;
}

#logo, #menu{
    line-height: 60px;
}

#menu{
    float: right;
    padding: 3px;
}

#menu > li{
    float: left;
    margin-right: 20px;
    list-style-type: none;
}

#menu, a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    box-shadow: 0 0 5px #798679;
}

/*Index page*/
/*header image*/

#header-image{
    overflow: hidden;
    clear: both;
    padding-top: 5px;
    height: 400px;
}

/*What is growing now*/

#growing{
    height: 200px;
    padding: 6px 40px 0;
}

.center-text{
    text-align: center;
}

#tulip{
    float: left;
    width: 33%;
    height: 300px;
    padding-top: 20px;
    text-align: end;
}

#buds{
    float: right;
    width: 33%;
    height: 300px;
    padding-top: 20px;
}

#spring-crocus{
    float: left;
    width: 34%;
    height: 300px;
    padding-top: 20px;
    margin: 0 auto;
}

.text-align-image{
    width: 60%;
    float: left;
    margin: 0 1%;
}

#contact-us-index {
    clear: both;
    text-align: center;
    padding: 0 1%;
    margin-top: 5vh;
}

/*About page*/

#about-us{
    clear: both;
    height: 40px;
    text-align: center;
    padding: 3%;
    margin-right: 25%;
}

#about-image-div-one {
    float: left;
    clear: both;
    float: left;
    width: 25%;
    padding: 2%;
}

#img-one{
    width: 100%;
    height: 100%;
}

#about-text-div-one{
    float: left;
    width: 33%;
    padding-top: 20px;
    margin: 0 auto;
    padding: 1%;
    margin-top: 20px;
}

#about-image-div-two{
    float: right;
    width: 35%;
    padding-top: 2px;
    margin: 0 40px;
    position: relative;
}

#img-two{
    width: 100%;
    height: 100%;
    float: left;
}

#contact-us-about{
    clear: both;
    text-align: center;
    padding: 0 1%;
    margin-top: 68vh;
}

/*Contact page*/
#background-image{
    clear: both;
    background-image: url(../images/sandie-clarke-q13Zq1Jufks-unsplash.jpg);
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

#contact-form{
    margin-left: 60%;
    padding: 40px;
    width: 100%;
    background-color: #e6e6e6;
    opacity: 0.75;
    display: table-caption;
}

#button{
    border: none;
    font-size: 100%;
}

#button:hover{
    box-shadow: 0 0 5px #798679;
}

.title{
    float: left;
    display: contents;
}

#fname, #lname, #email{
    float: right;
}

/*404 page*/

#error-page{
    text-align: center;
    padding: 10%;
    margin-left: 20%;
}

/*footer styling*/

footer{
    line-height: 60px;
}

/*sticky footer acknowledgment https://css-tricks.com/couple-takes-sticky-footer/*/
.footer{
    flex-shrink: 0;
}

.social {
    text-align: center;
    color: inherit;
    background-color: #e6e6e6;
    height: fit-content;
}

.social > li{
    display: inline;
    margin: 10%;
    font-size: 26px;
}

/*Media queries*/

/* For larger to medium screens siz from 1150px width*/
@media screen and (max-width: 1150px) {
    /*Index page*/
    #header-image{
        height: 350px;
    }
    
    #growing{
        display: inline;
    }

    .center-text{
        padding: 30px 0;
        margin: 0;
    }

    #tulip {
        float: none;
        width: 80%;
        margin-left: 10%;
        margin-bottom: 15%;
    }

    #buds {
        clear: none;
        width: 80%;
        float: none;
        padding: 0;
        margin: 10%;
    }

    #spring-crocus {
        float: none;
        width: 80%;
        padding-top: 20px;
        margin-bottom: 4%;
    }

    /*About page*/
    .section-one{
        display: inline-grid;
    }

    #about-us {
        margin-right: 5%;
        padding-bottom: 10%;
    }

    #about-image-div-one {
        width: 45%;
    }

    #about-text-div-one {
        width: 45%;
        padding-top: 20px;
        margin: -66% 48%;
        float: right;
    }

    #about-image-div-two {
        width: 80%;
        margin: 0 20px;
    }

    #contact-us-about {
        margin-top: 3vh;
    }
}
/*For medium screen from 700px wide and down*/
@media screen and (max-width: 700px) {
    #menu{
        clear: left;
        float: left;
        margin-left: 20px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #logo{
        font-size: 13px;
    }

    /*Index page*/

    .center-text{
        font-size: 28px;
    }

    #tulip{
        margin-bottom: 0;
    }

    #buds{
        margin: 0 10%;
        margin-bottom: -6%;
    }

    #spring_crocus{
        margin-top: 12%;
        margin-left: 10%;
        margin-bottom: -25%;
        height: 0;
    }

    #contact-us-index{
        margin-top: 1vh;
    }

    /*About us page*/
    #about-image-div-one {
        width: 90%;
        margin-top: 8%;
        margin-left: 3%;
    }

    #about-text-div-one {
        width: 89%;
        margin: 0;
        padding: 1%;
        float: none;
        margin-left: 5%;
    }
    
    #about-image-div-two {
        margin: 0 37px;
    }

    /*Contact page*/
    #contact-form {
        margin-left: 13%;
    }
}
/* For very small screens 420px and down*/
@media screen and (max-width: 420px){
    /*Content on all pages*/
    h2{
        font-size: 20px;
    }

    #logo{
        margin-left: 4px;
        font-size: 12px;
    }

    #menu{
        margin-left: 10px;
        margin-bottom: 10px;
        font-size: 17px;
    }

    #contact-us-index{
        padding: 4% 1%;
        font-size: 8px;
    }
    
    .footer{
        margin-top: 20%;
    }
    /*Index page*/
    #header-image{
        height: 81px;
    }
    
    #img-header{
        width: 100%;
        height: 100%;
    }

    .center-text{
        font-size: 18px;
    }
    
    #tulip{
        width: 97%;
        height: 22%;
        margin-left: 1%;
    }

    #buds{
        width: 97%;
        height: 20%;
        margin-left: 1%;
        margin-top: 10%;
        margin-bottom: 0;
    }

    #spring-crocus{
        width: 97%;
        height: 16%;
        margin-left: 1%;
    }

    p{
        font-size: 12px;
    }

    /*About us page*/
    .section-one {
        width: 90%;
        height: 200px;
        margin: 0 4%;
    }

    #about-us {
        padding: 0px 25%;
        margin: 0;
    }
    
    #img-one {
        margin-left: 7%;
    }

    #img-two {
        width: 113%;
        height: 80%;
        margin-top: 6%;
        margin-left: 0;
    }

    #about-text-div-one {
        margin-left: 9%;
    }

    #contact-us-about{
        margin-top: 230%;
    }

    /*Contact page*/
    .title{
        text-align: inherit;
    }

    #contact-form{
        margin: 0 4%;
    }
}
/*For very small screens 370px and down*/
@media screen and (max-width: 370px){
    /*Header content on all pages*/
    #logo{
    margin-left: 10%;
    font-size: 9px;
    }

    #menu{
        line-height: 10px;
        font-size: 13px;
        margin-left: 57px;
    }

    /*Index page*/
    #growing{
        padding: 6px 6px 0;
    }

    .center-text{
        font-size: 17px;
    }

    /*About page*/
    #about-us{
        padding: 0px 30%;
        font-size: 17px;
    }

    #about-image-div-one{
        margin-top: 4%;
        margin-left: 0;
    }

    #about-text-div-one {
        margin-top: 4%;
        margin-left: 7%;
    }

    #about-image-div-two{
        margin-top: 10%;
        margin-left: 5%;
    }

    #contact-us-about{
        font-size: 8px;
        margin-top: 250%;
    }
}
/*For very small screens 300px and down*/
@media screen and (max-width: 300px){
    /*Content on all pages*/
    #logo {
        font-size: 7px;
    }

    /*Index page*/
    .center-text{
        padding: 15px 0;
    }

    /*About page*/
    #contact-us-about {
        margin-top: 265%;
    }

    /*Contact page*/
    #contact-form {
        padding: 19px;
        margin: 8% 1%;
    }

}

